body {
  background: black;
  color: rgb(218, 232, 210);
  font-family: 'Oswald', regular;
  border-radius: 3px;
}

.nav-item:hover {
  background: rgb(128, 128, 128);
}


/* unvisited link */

a:link {
  color: #2c3e50;
}


/* visited link */

a:visited {
  color: white;
}


/* mouse over link */

a:hover {
  color: white;
}


/* selected link */

a:active {
  color: white;
}

h1 {}


/*
.menu {
  position:fixed;
  left:0;
  right:0;
  z-index:2;
} */

.carousel-caption {
  font-family: 'Cardo', regular;
}

.hard-to-see {
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

.carousel-caption p {
  color: black;
}

.carousel-caption h1 {
  color: black;
}

#about {
}

#portfolio {
}

img {
  max-width: 100%
}

.portfolio.col {
    background-color: #16a085;
    margin: 3px 3px 3px 3px;

}

#contact {
}

.portfolio-image {
  width: 80%;
  height: 40%
}
.hidden {
  opacity: .0
}

.visible {
  opacity: 1
}

div.port-item {
  transition: 1s;
}

div.port-item:hover {
  background-color: #06EAC9;
}
.contact-icon {
  width: 30%;
  height: 30%;
}

@-webkit-keyframes arrowAnimation {
  0% { left:50%; }
  45% { left:100%; }
  55% { left:100%;
    transform: scaleX(-1);
   }
  100% {
    transform: scaleX(1);
  }

}
@-o-keyframes arrowAnimation {
  0% { left:50%; }
  45% { left:100%; }
  55% { left:100%;
    transform: scaleX(-1);
   }
  100% {
    transform: scaleX(1);
  }

}
@-moz-keyframes arrowAnimation {
  0% { left:50%; }
  45% { left:100%; }
  55% { left:100%;
    transform: scaleX(-1);
   }
  100% {
    transform: scaleX(1);
  }

}
@keyframes arrowAnimation {
  50% {
    transform: scaleX(-1);
   }
  100% {
    transform: scaleX(1);
  }

}
.hack-arrow {
  fill: #16a085;
  transition: 10s;
  animation: arrowAnimation Infinite;
  animation-duration: 10s;
}

#navbarCollapse {
  opacity: .7;
  transition: 0.5s;
}

.carousel-caption {
  background: #7da6a2;
  opacity: .7;
}

.carousel-caption:hover, .carousel-caption:focus {
  background: #7da6a2;
  opacity: .9;
}

.hard-to-see, .carousel-caption h1, .carousel-caption p {
  opacity: 1;
}

.container {
  background-color: #16a085;
  transition: 0.8s;
  border-radius: 3px;
  color: black;
  /* margin: 20px 20px 20px 20px; */

}

.acknowledgments {
  font-size: 8px;

}

.container:hover {
  background-color: #06EAC9;
}

.read-me {
  font-family: 'Cardo', regular;
}

#navbarCollapse:hover {
  opacity: 1;
}
