body {
  background: grey;
}


/* unvisited link */

a:link {
  color: #2c3e50;
}


/* visited link */

a:visited {
  color: black;
}


/* mouse over link */

a:hover {
  color: black;
}


/* selected link */

a:active {
  color: black;
}

h1 {}


/*
.menu {
  position:fixed;
  left:0;
  right:0;
  z-index:2;
} */

.carousel-caption {
  font-family: 'Lilita One', cursive;
}

.hard-to-see {
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

.carousel-caption p {
  color: black;
}

.carousel-caption h1 {
  color: black;
}

#about {
  background-color: #2ecc71;
}

#portfolio {
  background-color: #2980b9;
}

img {
  max-width: 100%
}

.portfolio.col {
    background-color: #16a085;
    margin: 3px 3px 3px 3px;
    border-radius: 3px;

}

#contact {
  background-color: #e67e22;
}

.portfolio-image {
  width: 80%;
  height: 40%
}
.hidden {
  opacity: .0
}

.visible {
  opacity: 1
}

div.port-item {
  transition: 1s;
}

div.port-item:hover {
  background-color: #06EAC9;
}
.contact-icon {
  width: 30%;
  height: 30%;
}

@-webkit-keyframes arrowAnimation {
  0% { left:50%; }
  45% { left:100%; }
  55% { left:100%;
    transform: scaleX(-1);
   }
  100% {
    transform: scaleX(1);
  }

}
@-o-keyframes arrowAnimation {
  0% { left:50%; }
  45% { left:100%; }
  55% { left:100%;
    transform: scaleX(-1);
   }
  100% {
    transform: scaleX(1);
  }

}
@-moz-keyframes arrowAnimation {
  0% { left:50%; }
  45% { left:100%; }
  55% { left:100%;
    transform: scaleX(-1);
   }
  100% {
    transform: scaleX(1);
  }

}
@keyframes arrowAnimation {
  0% { left:50%; }
  45% { left:100%; }
  55% { left:100%;
    transform: scaleX(-1);
   }
  100% {
    transform: scaleX(1);
  }

}
.hack-arrow {
  fill: #06EAC9;
  transition: 10s;
  animation: arrowAnimation Infinite;
  animation-duration: 10s;
}
