body {
  background: grey;
}

a {
  color: black;
}

h1 {

}
/*
.menu {
  position:fixed;
  left:0;
  right:0;
  z-index:2;
} */

.carousel-caption {
    font-family: 'Lilita One', cursive;
}

.hard-to-see {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.carousel-caption p {
  color: black;
}

.carousel-caption h1 {
  color: black;
}
